/* Ninguna de las imagenes son de mi propiedad, a continuación están los links de los autores

Imágenes en Unsplash: https://unsplash.com/@xps
Logo Dell: https://worldvectorlogo.com/logo/dell-1

*/

:root {
    --dark: #0D0D0D;
    --dark-x: #1A1A1A;
    --light: #FFFFFF;
    --highlight: #FFC400;
    --fondo: rgba(20, 20, 20, 0.8);
    --shadow: rgba(0, 0, 0, 0.7);
    --gold: #FFD700;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    color: var(--gold);
    margin: 0;
    padding: 0;
  }
  
 
  .login-bg {
    background: url("{% static 'img/imagenes/Fondos/Fondo4.jpg' %}") no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
  }
  
  
  #subir {
    font-family: 'Spartan', sans-serif;
    font-size: 2rem;
    color: var(--gold) !important; 
    text-align: center;
    margin-top: -10px !important; 
    margin-bottom: 30px;
  }
  
  
  .login-box {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 50px 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 450px;
    margin-top: 40px !important; /* Forzar subida del contenedor */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    color: var(--gold);
  }
  
  /* Etiquetas y textos */
  .login-box label {
    color: var(--gold);
    font-weight: bold;
  }
  
  /* Inputs */
  .login-box input {
    background-color: #333;
    border: 1px solid #FFD700;
    color: var(--gold);
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .login-box input:focus {
    border-color: var(--highlight);
    box-shadow: 0 0 5px var(--highlight);
    background-color: #444;
    outline: none;
  }
  
  /* Botón */
  .btn-primary {
    background-color: transparent;
    border: 2px solid var(--gold);
    color: var(--gold);
    font-weight: 600;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.3s ease-in-out;
  }
  
  .btn-primary:hover {
    background-color: var(--gold);
    color: #000;
  }
  
  /* Mensajes */
  .alert {
    text-align: center;
    color: #000;
    background-color: #ffef9f;
    border-color: #FFD700;
  }
  
  /* Footer */
  footer#piedepag {
    background-color: #000;
    color: #ccc;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  /* Marca */
  #fuente {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.8rem;
    margin-left: 20px;
    color: var(--gold);
  }
  